
$color-primary: #f26e21;
$color-primary-light: #ec8144;
$color-primary-dark: #d9631d;

$color-secondary: #707070;
$color-secondary-light: #f8f8f8;
$color-secondary-dark: #858689;

$color-tertiary-light: #1474be;
$color-tertiary-dark: #1268ab;

$color-grey-light-1: #efefef;
$color-grey-light-2: #eee;
$color-grey-light-3: #e5e5e5;

$color-grey-dark: #777;
$color-grey-dark-2: #979797;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-dark:#18181B;

$color-warning: #FFB800;
$color-danger: #c33641;
$color-success: #28a745;
$color-info: #17a2b8;

$color-bg:#f2f2f2;