.reset-password-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 57vh;
}

.reset-pwd-modal {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer__navigation {
    
}

/* UI*/
.rl_reset_password {
    padding: 10rem 5rem !important;
    display: block;
    .text-icon {
        font-size: 2.8rem;
        margin-right: 0.8rem;
        color: $color-primary;
    }
    .modal-title {
        display: flex;
        align-items: end;
        line-height: auto;
        margin-bottom: 20px;
        p {
            margin-bottom: 0px;
            line-height: 1.1;
        }
    }
    .sub-para {
        font-size: 1.2rem;
        margin-bottom: 5px;
        display: block;
    }
    .form {
        .form-group {
            label {
                &::before {
                    content:" *";
                    color: $color-danger;
                }
            }
        }
        .btn {
            text-transform: initial !important;
        }
    }
    .rl-back-btn {
        padding-left: 0px !important;
    }
    .forogt_back_link {
        position: absolute;
        bottom: 140px;
    }
}

.rl_checkmail_section {
    
}

.rl_forgotpassword_section {
    display: block;
    padding: 10rem 5rem !important;
    .rl_back_btn {
        padding-left: 0px;
    }
    .modal-title {
        display: flex;
        align-items: end;
        line-height: auto;
        margin-bottom: 20px;
    }
    .text-icon {
        font-size: 2.8rem;
        margin-right: 0.8rem;
        color: $color-primary;
    }
    .rl-back-btn {
        padding-left: 0px !important;
    }
    .forogt_back_link {
        position: absolute;
        bottom: 140px;
    }
    .sub-para {
        font-size: 1.2rem;
        margin-bottom: 5px;
        display: block;
    }
    .rl-emailtext {
        color: $color-tertiary-light;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .btn {
        text-transform: initial !important;
        &:focus {
            box-shadow: none !important;
        }
    }
    .form {
        .form-group {
            label {
                &::before {
                    content: " *";
                    color: #ff0000;
                }
            } 
        } 
    } 
}
/* 2022.05.09 DUI*/